<div class="checkout-plan card h-100">
  <header class="checkout-plan__hdr m-b flex flex-col flex-cc text-acc-1 p-b border-bottom-1">
    <h3 class="checkout-plan__title m-b-xs">{{t "Free Subscriber"}}</h3>
    <div class="checkout-plan__price">
      <sup>{{price currency=@price.currency}}</sup><strong>{{price 0}}</strong>
    </div>
    <a class="btn btn--brand btn--sm btn--rounded" href="/signup/">
      {{t "Subscribe now"}}
    </a>
  </header>
  <div class="checkout-plan__content text-acc-3">
    <ul class="list--unstyled m-b-0">
      <li>{{t "Access to subscriber-only content"}}</li>
      <li>{{t "Content sent directly to your inbox"}}</li>
      <li>{{t "Unsubscribe anytime"}}</li>
    </ul>
  </div>
</div>