<div class="checkout-plan card h-100">
  <header class="checkout-plan__hdr m-b flex flex-col flex-cc text-acc-1 p-b border-bottom-1">
    <h3 class="checkout-plan__title m-b-xs">{{t "Premium Member"}}</h3>
    <h4 class="checkout-plan__title m-b-xs">{{t "Monthly"}}</h4>
    <div class="checkout-plan__price">
      <sup>{{@price.currency_symbol}}</sup><strong>{{@price.monthly}}</strong>
    </div>
    <a class="btn btn--brand btn--sm btn--rounded" 
      href="javascript:void(0)" data-members-plan="Monthly">
      {{#if @member}}{{t "Upgrade"}}{{else}}{{t "Become a Member"}}{{/if}}
    </a>
  </header>
  <div class="checkout-plan__content text-acc-3">
    <ul class="list--unstyled m-b-0">
      <li>{{t "Access to subscriber & member content"}}</li>
      <li>{{t "Content sent directly to your inbox"}}</li>
      <li>{{t "Invite to weekly member-only Q&A sessions"}}</li>
      <li>{{t "Access to members-only community"}}</li>
      <li>{{t "Cancel anytime"}}</li>
    </ul>
  </div>
</div>